---
import { Image } from "@astrojs/image/components";
import SubHeading from "../../components/SubHeading.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="About | Dylan Paulus" description="">
  <section
    id="main-content"
    tab-index="-1"
    class="max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto mt-8"
  >
    <div class="flex flex-col gap-4 leading-loose">
      <div class="flex flex-col md:flex-row w-full">
        <div class="text-center w-full md:w-1/2">
          <Image
            src="/images/about-image.jpg"
            alt="Image of Dylan playing drums"
            class="shadow rounded-md m-auto w-full aspect-auto"
            format="webp"
            width={200}
            height={200}
          />

          <figcaption class="text-sm mt-2">
            That's me, the one in the middle!
          </figcaption>
        </div>

        <section class="w-full md:w-1/2 mt-8 md:mt-0 ml-0 md:ml-12">
          <SubHeading class="hidden md:block" style={{ marginTop: 0 }}>
            About
          </SubHeading>
          <em
            class="text-3xl bg-clip-text text-transparent bg-gradient-to-tr from-blue-500 to-purple-800 dark:from-blue-100 dark:to-orange-300 font-bold"
          >
            Hi, I'm Dylan.
          </em>

          <p class="text-base">
            I'm an Engineering Manager II at Schweitzer Engineering Laboratories
            (SEL) working primarily in React, C#, Postgres, Docker, Kubernetes,
            and Redis. Before SEL I was a{" "}
            <a
              href="https://www.mobygames.com/developer/sheet/view/developerId,783203/"
            >
              web developer at Sony PlayStation
            </a>
            , and student web developer at Eastern Washington University.
          </p>

          <p class="text-base">
            I play drums in an ok emo/math rock band, <a
              href="https://griffeymusic.bandcamp.com/"
              >Griffey
            </a>.
          </p>

          <SubHeading>Stuff I use</SubHeading>
          <a href="/about/uses">Click Here {"->"}</a>

          <div class="w-full mt-12">
            <SubHeading>Talks</SubHeading>
            <ul class="list-disc list-inside ml-4">
              <li>
                <a
                  target="_blank"
                  href="https://introduction-functional-programming-boise.netlify.com/#/"
                >
                  Functional Programming Light (Boise Code Camp 2019)
                </a>
              </li>
              <li>Making React Fast (Internal Presentation 2019)</li>
              <li>
                NPM, Dependencies, and JS Modules (Internal Presentation 2021)
              </li>
            </ul>

            <SubHeading class="my-0">Courses</SubHeading>
            <ul class="list-disc list-inside ml-4">
              <li class="list-none">
                <a
                  href="https://www.newline.co/courses/creating-react-libraries-from-scratch"
                  class="block w-2/3 shadow hover:shadow-xl transition transform hover:scale-105 ease-in-out"
                >
                  <Image
                    src="/images/Course_Card_5_1.png"
                    alt="Image of Dylan playing drums"
                    class="rounded-md m-auto"
                    format="webp"
                    width={200}
                    height={200}
                  />
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </section>
</BaseLayout>
