<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json">
    <meta name="description" content="Ramblings on software engineering">
    <meta name="keywords" content="software, code, programming, blog, portfolio, react, typescript, javascript, washington, spokane, {{page.category}}">
    <meta name="author" content="Dylan Paulus">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ site.url }}/images/favicon-32x32.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700,900" rel="stylesheet">

    <title>{{site.title}}{% if page.title %} - {{ page.title }}{% endif %}</title>

    {% capture styles %} {% include styles.scss %} {% include code-format.scss %} {% endcapture %}

    <style>
        {{styles | scssify}}
    </style>
</head>

<body>
    <header class="header">
        <div class="header__body container">
            <div class="header__title">
                <a href="/" title="Go to homepage">Dylan Paulus</a>
            </div>

            <nav class="header__links">
                <a href="/" title="Go to homepage">Home</a>
                <a href="/about" title="Go to about page">About</a>
            </nav>

            <div class="header__search">
                <div class="search__icon" title="Click to toggle search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input type="text" id="search-input" placeholder="Search..." />
                <ul id="results-container"></ul>
            </div>
        </div>
    </header>

    <main class="container">