<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Ramblings on software engineering and web development">
        <meta name="keywords" content="software, code, programming, blog, portfolio, {{page.category}}">
        <meta name="author" content="Dylan Paulus">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{site.title}} - {{page.title}}</title>

        {% capture styles %}
            {% include styles.scss %}
        {% endcapture %}

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

        <style>
            {{ styles | scssify }}
        </style>
    </head>
    <body>

    <main class="container">
        <header class="row">
            <div class="five columns">
                <h3><a href="/">Dylan Paulus</a></h3>
            </div>

            <nav class="seven columns" style="text-align: right;">
                <a href="/">Home</a>
            </nav>
        </header>