@import "normalize";
@import "skeleton";

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    font-family: 'Lato', sans-serif;
}

header {
    margin-top: 50px;
    color: #111;

    margin-bottom: 10px;
    border-bottom: 1px solid #F1F1F1;
}

header h3 {
    font-weight: 700;
    font-size: 2rem;

    a { 
        text-decoration: none;
        color: #111;
        cursor: pointer;

        transition: all 0.12s;
    }
}

.dp__post-container {
    line-height: 3rem;
    
    
    code { line-height: 2.3rem; }
}

.dp__content { margin-top: 30px; }
.dp__post {
    margin-top: 30px;
}
.dp__post-date { 
    color: #999;
}

.dp__post-header {
    margin: -4px 0 0 0;
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
}

.dp__post-header a { 
    color: #111;
    text-decoration: none;

    transition: all 0.12s; 

    &:hover {
        color: #1EAEDB;
    }
}

.dp__post-tag { 
    color: #999;
}

.dp__footer {
    font-size: 1.5rem;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.dp__footer a {
    color: #111;
    text-decoration: none;
    opacity: 0.6;
    font-size: 4rem;
    margin-right: 10px;

    transition: all 0.12s;

    &:hover {
        color: #1EAEDB;
        opacity: 1;
    }
}