@import "normalize";
@import "skeleton";

$highlight-brown: #9d6742;

* {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Lato", sans-serif;
}

a {
  color: $highlight-brown;
}

h1 {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  margin-bottom: 2.8rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 85%;
}

.header {
  display: flex;
  height: 200px;
  background: #2b2e33;
  color: #fff;

  .header__body {
    display: flex;
    height: 70px;

    & > * {
      align-items: center;
    }
  }

  a {
    color: #fff !important;
  }

  .header__title {
    display: flex;
    font-weight: 700;
    font-size: 2.3rem;
    flex: 1;
    padding: 7px 10px;

    a {
      text-decoration: none;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
      cursor: pointer;

      transition: all 0.12s;
    }
  }

  .header__links,
  .header__search {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .header__links {
    display: flex;
    margin-right: 20px;
    padding: 0;
  }
  .header__links a {
    display: block;
    text-decoration: none;
    margin-left: 12px;
    padding: 5px 8px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    transition: all 0.12s;

    &:hover {
      background: $highlight-brown;
    }
  }

  .header__search {
    flex: 0;
    position: relative;
    transition: flex 0.2s;

    #results-container,
    #search-input {
      opacity: 0;
      width: 1px;
      overflow: hidden;

      transition: all 0.2s;
    }

    &.is--active {
      flex: 1;

      #results-container,
      #search-input {
        width: 100%;
        opacity: 1;
      }
    }

    .search__icon {
      position: absolute;
      left: 0px;
      top: 25px;
      bottom: 0;
      color: rgb(167, 167, 167);
      z-index: 5;
      transition: color 0.2s;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }
    & > input {
      width: 100%;
      margin: 0;
      color: #999;
      background: transparent;
      padding-left: 30px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid rgb(167, 167, 167);
      border-radius: 0;
      z-index: 2;
    }
  }
}

#results-container {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background: $highlight-brown;
  color: #fff;
  z-index: 500;

  & > li {
    list-style-type: none;
    margin: 0;
    border-top: 1px solid darken($highlight-brown, 10%);

    a {
      display: block;
      width: 100%;
      padding: 10px 15px;
      text-decoration: none;
      font-weight: 600;
      transition: background 0.2s;
    }

    a:hover {
      background: darken($highlight-brown, 15%);
    }
  }
}

@media (max-width: 550px) {
  .header__search {
    display: none !important;
  }

  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 305px) {
  .header__body {
    padding: 0 !important;
  }

  header > nav,
  header > div {
    width: 100% !important;
  }

  header nav {
    text-align: left;
  }
}

main.container {
  margin-top: -130px;
  background: #fff;
  padding: 40px 60px;

  @media (max-width: 450px) {
    padding: 8px;
  }
}

.dp__post-container {
  line-height: 3rem;

  code:not(.highlighter-rouge) {
    line-height: 2.3rem;
    border: 0;
    padding: 20px;
  }

  blockquote {
    border-left: 3px solid #888;
    padding-left: 15px;
  }

  p {
    font-size: 1.7rem;
    line-height: 3.1rem;
  }
}

.dp__post:not(:first-child) {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
}
.dp__post-date {
  color: #555;
  position: relative;
  top: 5px;
}

.dp__post-header {
  margin: -4px 0 0 0;
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.dp__post-header a {
  color: #9d6742;
  text-decoration: none;

  transition: all 0.12s;

  &:hover {
    color: darken(#9d6742, 16%);
  }
}

.dp__post-tag {
  color: #555;
}

.dp__about_links {
  margin-top: 3rem;
  text-align: center;
  font-size: 2.5rem;

  & > a {
    margin: 0 8px;
  }
}

.dp__content_image {
  text-align: center;

  & > img {
    padding: 4px;
    background: #ddd;
  }
}

.dp__footer {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.dp__footer div .wrapper {
  display: inline-block;
  width: 60%;
  padding-top: 10px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
}

.dp__footer a {
  color: #111;
  text-decoration: none;
  opacity: 0.6;
  font-size: 2.8rem;
  margin-right: 10px;

  transition: all 0.12s;

  &:hover {
    color: darken($highlight-brown, 15%);
    opacity: 1;
  }
}

.pagination {
  font-size: 1.6rem;
  margin-top: 30px;
  text-align: center;
}

.pagination > .next {
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

.pagination > .previous {
  border-right: 1px solid #ddd;
  padding-right: 10px;
}
