---
import SiteLayout from "@layouts/SiteLayout.astro";
import SubHeading from "@components/SubHeading.astro";
---

<SiteLayout title="Dylan Paulus" description="">
  <div class="flex flex-col md:flex-row justify-between w-full">
    <div class="flex flex-col w-full lg:w-1/2">
      <p class="mb-0">Places I've appeared outside of this website.</p>
      <em class="block mb-4 opacity-70"
        >Found somewhere else? Let me know in a <a
          href="https://github.com/ganderzz/dylanpaulus.com/issues/new"
          >Github issue</a
        >!</em
      >

      <SubHeading>Tiger Data (formally TimeScale)</SubHeading>
      <ul class="list-disc list-inside leading-relaxed mb-4">
        <li>
          <a
            href="https://www.tigerdata.com/learn/how-to-reduce-bloat-in-large-postgresql-tables"
            >How to Reduce Bloat in Large PostgreSQL Tables
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/learn/recursive-query-in-sql-what-it-is-and-how-to-write-one"
            >Recursive Query in SQL: What It Is, and How to Write One
          </a>
        </li>
        <li>
          <a href="https://www.tigerdata.com/learn/guide-to-postgresql-security"
            >Guide to PostgreSQL Security
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/learn/how-to-use-common-table-expression-sql"
            >How to Use a Common Table Expression (CTE) in SQL
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/learn/explaining-postgresql-explain"
            >Explaining PostgreSQL EXPLAIN
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/learn/understanding-foreign-keys-in-postgresql"
            >Understanding Foreign Keys in PostgreSQL
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/learn/how-to-use-postgresql-for-data-normalization"
            >How to Use PostgreSQL for Data Normalization
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/blog/creating-a-fast-time-series-graph-with-postgres-materialized-views"
            >Creating a Fast Time-Series Graph With Postgres Materialized Views
          </a>
        </li>
        <li>
          <a href="https://www.tigerdata.com/learn/understanding-postgresql"
            >Understanding PostgreSQL
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/blog/how-to-reduce-your-postgresql-database-size"
            >How to Reduce Your PostgreSQL Database Size
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/blog/understanding-serverless-postgresql"
            >Understanding Serverless PostgreSQL
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/learn/understanding-sql-aggregate-functions"
            >Understanding SQL Aggregate Functions
          </a>
        </li>
        <li>
          <a
            href="https://www.tigerdata.com/learn/how-to-design-postgresql-database-two-schema-examples"
            >How to Design Your PostgreSQL Database: Two Schema Examples
          </a>
        </li>
      </ul>

      <SubHeading>Fortune Magazine</SubHeading>
      <ul class="list-disc list-inside leading-relaxed">
        <li>
          <a href="https://fortune.com/2019/12/04/facial-recognition-opt-out/"
            >Facial Recognition Opt Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</SiteLayout>
