---
import { Image } from "astro:assets";
import SiteLayout from "@layouts/SiteLayout.astro";
import Button from "../components/Button.astro";
---

<SiteLayout title="Dylan Paulus" description="">
  <div class="flex flex-col md:flex-row justify-between w-full">
    <div class="flex flex-col w-full lg:w-1/2">
      <h1 class="m-0">Hi, I'm Dylan Paulus.</h1>
      <p class="text-xl opacity-90 m-0 mt-1">
        Full-Stack Software Engineer / Engineering Manager
      </p>

      <p class="mt-6 mb-14 opacity-80 max-w-2xl break-keep text-lg">
        I have been building highly performant software and engineering teams
        for over a decade. Currently, I'm bringing real estage online as a Staff
        Fullstack Software Engineer at <a
          href="https://www.airgarage.com/"
          data-goatcounter-click="airgarage__click"
          target="_blank"
          ><svg
            height={20}
            width={20}
            class="inline"
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 28 28">
            <path
              fill="currentColor"
              d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v9l-3.794-3.793l-5.999 6l-1.414-1.414l5.999-6L12 3h9z"
            ></path>
          </svg>AirGarage</a
        >.
      </p>

      <div><Button href="/about">Learn more about me →</Button></div>
    </div>

    <div class="max-w-md md:max-w-sm lg:max-w-xl hidden lg:block lg:w-1/2">
      <Image
        src="/images/boise-code-camp.jpeg"
        width={800}
        height={336}
        alt="Dylan presenting at Boise Code Camp teaching the fundamentals of functional programming"
        class="shadow-lg rounded-md"
        loading="eager"
      />
    </div>
  </div>

  <div
    class="w-full pt-4 mt-40 mb-32 border-t-2 border-gray-200 dark:border-slate-600">
    <h3>Get in Touch</h3>
    <p class="mb-12">
      Do you have a question? Feedback? Or have an opportunity you'd like to
      discuss?
    </p>

    <Button
      data-goatcounter-click="contact-me__click"
      href="mailto:hey@dylanpaulus.com">
      Contact me →
    </Button>
  </div>
</SiteLayout>
