---
import SubHeading from "@components/SubHeading.astro";
import SiteLayout from "@layouts/SiteLayout.astro";
import { getCollection } from "astro:content";
import { getTags, orderByPopular } from "@utils/tags";
import TagList from "@components/TagList.astro";

const unsortedPosts = await getCollection(
  "post",
  ({ data }) => data.published && data.tags
);
const tags = orderByPopular(await getTags(unsortedPosts));
---

<SiteLayout title="Sitemap | Dylan Paulus" description="Sitemap">
  <h2 class="mb-0">Sitemap</h2>
  <SubHeading>All Tags</SubHeading>
  <TagList tags={Object.keys(tags)} />
</SiteLayout>
