---
type Props = {
  type: "info" | "success" | "warning" | "error";
};

const { type } = Astro.props;

const colors = {
  info: "bg-blue-100 text-blue-800",
  success: "bg-green-100 text-green-800",
  warning: "bg-yellow-100 text-yellow-800",
  error: "bg-red-100 text-red-800",
};
---

<div class={`text-sm rounded mb-4 px-4 py-2 ${colors[type]}`}>
  <slot />
</div>
