---
const year = new Date().getFullYear();
---

<footer
  class="flex justify-between flex-col sm:flex-row items-center gap-4 max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto mt-12 border-t-2 border-gray-200 dark:border-slate-600 py-10 px-2 md:px-0">
  <div class="opacity-70 text-sm">© {year} All rights reserved.</div>

  <div>
    <a href="https://github.com/ganderzz">Github</a> /
    <a href="https://www.linkedin.com/in/dylanpaulus/">LinkedIn</a> /
    <a href="/rss.xml">RSS</a>
  </div>
</footer>
