---
import { Image } from "@astrojs/image/components";
import TagList from "./TagList.astro";
import CalendarIcon from "../icons/calendar.astro";
import type { Post } from "../types/Post";

export type Props = {
  frontmatter: Post;
};

const { frontmatter } = Astro.props as Props;
---

<span
  class="opacity-75 text-base md:flex hidden justify-center items-center md:pb-1"
>
  <CalendarIcon class="mr-2 inline" />
  {frontmatter.date}
  <Image
    src="/icons/tag.svg"
    class="mr-2 ml-8 inline"
    width={25}
    aspectRatio="1:1"
  />
  <TagList class="sm:inline block" tags={frontmatter.tags} />
  <Image
    src="/icons/clock.svg"
    class="mr-2 ml-4 inline"
    width={25}
    aspectRatio="1:1"
  />
  {frontmatter.timeToRead}
</span>

<style>
  .inline {
    display: inline-flex;
  }
</style>
