---
import { MenuLink } from "./MenuLink";
import { ThemeToggle } from "./ThemeToggle";
---

<header
  class="pt-2 sm:pt-10 px-8 mb-24 pb-12 mx-auto shadow-sm"
  transition:animate="fade">
  <div
    class="z-10 relative container md:max-w-none mx-auto md:w-full lg:mx-auto h-12 block sm:flex sm:items-center">
    <div class="block relative text-5xl mx-0 font-bold w-full lg:w-1/2">
      <a
        href="/"
        title="Navigate to home page"
        class="hover:scale-105 transform no-underline inline-block">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="logo"
          width={350}
          viewBox="20 0 679 155">
          <title>Dylan's Logo</title>
          <path
            class="fill-slate-800 dark:fill-white"
            d="M183.12 107.06c-3.25 0-6.24-.62-8.98-1.85a20.84 20.84 0 01-7.08-5.19 24.44 24.44 0 01-4.64-7.8 27.72 27.72 0 01-1.67-9.79c0-3.43.5-6.64 1.53-9.65 1.02-3 2.46-5.6 4.33-7.8a20.57 20.57 0 016.63-5.2 18.8 18.8 0 018.44-1.89c3.3 0 6.3.79 8.97 2.35a16.23 16.23 0 016.18 6.31V40.3h14.43v49.62c0 1.44.23 2.45.68 3.02.45.57 1.25.92 2.4 1.04v12.18a27.07 27.07 0 01-6.14.72c-2.53 0-4.57-.53-6.14-1.58a6.1 6.1 0 01-2.7-4.55l-.27-2.44c-1.69 2.95-3.96 5.14-6.82 6.58s-5.9 2.17-9.15 2.17zM187 94.88a11.34 11.34 0 009.92-6.59v-9.92c-.9-2.4-2.36-4.37-4.37-5.9a10.24 10.24 0 00-6.27-2.3c-1.57 0-3 .34-4.29 1.03a11.48 11.48 0 00-3.38 2.75 12.15 12.15 0 00-2.21 3.97 14.74 14.74 0 00.09 9.65c.57 1.5 1.35 2.8 2.34 3.88 1 1.08 2.2 1.93 3.61 2.53 1.41.6 2.93.9 4.56.9zm33.56 18.4c1.2.42 2.33.72 3.38.9 1.05.18 2 .27 2.84.27 1.74 0 3.1-.6 4.06-1.8.96-1.2 1.83-3.37 2.61-6.5L215.41 58.8h14.89l11 35 9.48-35h13.53l-18.05 55.03A18.7 18.7 0 01227.95 127c-1.2 0-2.42-.1-3.65-.31a20.08 20.08 0 01-3.74-1.04v-12.36zm47-72.98h14.43V89.3c0 3.6 1.53 5.4 4.6 5.4.72 0 1.52-.1 2.39-.3a8.8 8.8 0 002.39-.95l1.9 10.82c-1.81.84-3.89 1.5-6.23 1.98-2.35.48-4.54.73-6.59.73-4.15 0-7.34-1.09-9.56-3.25-2.22-2.17-3.34-5.3-3.34-9.38V40.3zm41.58 66.76c-2.35 0-4.53-.38-6.54-1.13a15.32 15.32 0 01-5.19-3.16 15.18 15.18 0 01-3.43-4.78 14.21 14.21 0 01-1.26-6c0-2.34.5-4.48 1.49-6.4.99-1.93 2.39-3.58 4.2-4.96 1.8-1.39 3.93-2.47 6.4-3.25s5.2-1.17 8.2-1.17c1.99 0 3.91.16 5.78.5 1.86.33 3.49.82 4.87 1.48v-2.16c0-5.48-3.16-8.21-9.47-8.21-2.59 0-5.05.44-7.4 1.3a35.64 35.64 0 00-7.4 3.93l-4.24-9.02a37.88 37.88 0 019.75-4.6 36.72 36.72 0 0110.73-1.54c7.16 0 12.69 1.69 16.6 5.06 3.9 3.36 5.86 8.3 5.86 14.79v12.18c0 1.44.23 2.45.68 3.02.45.57 1.25.92 2.4 1.04v12.18c-1.27.3-2.41.5-3.44.58a32.1 32.1 0 01-2.8.14c-2.7 0-4.74-.53-6.13-1.58a6.99 6.99 0 01-2.61-4.47l-.27-2.16a21.65 21.65 0 01-7.54 6.22 20.62 20.62 0 01-9.24 2.17zm4.24-10.38c1.56 0 3.08-.27 4.55-.8 1.48-.55 2.7-1.27 3.66-2.17 1.38-1.09 2.07-2.23 2.07-3.43v-4.51a23.61 23.61 0 00-4.1-1.13c-1.48-.27-2.85-.4-4.1-.4-2.66 0-4.84.6-6.55 1.8a5.5 5.5 0 00-2.57 4.69c0 1.74.66 3.17 1.98 4.29a7.59 7.59 0 005.06 1.66zm78.57 9.47h-14.43v-26.6c0-3.13-.6-5.4-1.76-6.82a5.74 5.74 0 00-4.65-2.12c-1.02 0-2.05.22-3.07.64a12.67 12.67 0 00-2.97 1.75 13.57 13.57 0 00-2.58 2.67 12.65 12.65 0 00-1.76 3.33v27.16H346.3V58.8h13v7.94c1.74-2.83 4.2-5.01 7.39-6.54a25.05 25.05 0 0111-2.3c3.07 0 5.54.55 7.4 1.66a11.99 11.99 0 014.33 4.33 16.78 16.78 0 012.03 5.82c.33 2.1.5 4.15.5 6.13v30.32zm33.1.9c-3.96 0-7.47-1-10.5-3.02a24 24 0 01-7.36-7.62v28.96h-6.13V59.16h5.5v9.1a22.76 22.76 0 017.49-7.16 19.16 19.16 0 0110.01-2.76c3.25 0 6.23.68 8.93 2.03s5.05 3.16 7.04 5.42a25.18 25.18 0 014.64 7.8 25.61 25.61 0 011.67 9.11c0 3.3-.5 6.44-1.53 9.38a23.91 23.91 0 01-4.38 7.76 21 21 0 01-6.76 5.28 19.17 19.17 0 01-8.62 1.94zm-1.7-5.4c2.52 0 4.82-.55 6.9-1.63a17.16 17.16 0 005.31-4.29 19.24 19.24 0 003.39-6.04 21.23 21.23 0 001.17-6.99 19.49 19.49 0 00-1.35-7.22c-.9-2.28-2.14-4.3-3.7-6.04s-3.42-3.13-5.55-4.15a15.75 15.75 0 00-6.9-1.53c-1.57 0-3.2.31-4.92.94s-3.3 1.48-4.78 2.53a17 17 0 00-3.79 3.7 9.95 9.95 0 00-1.94 4.46v14.43a21.54 21.54 0 002.76 4.7 19.34 19.34 0 003.78 3.74 18.15 18.15 0 004.56 2.48c1.62.6 3.3.9 5.05.9zm42.93 5.4a16.6 16.6 0 01-6.18-1.12 15.56 15.56 0 01-4.96-3.11 14.01 14.01 0 01-3.3-4.65 14.03 14.03 0 01-1.17-5.73c0-2.04.48-3.94 1.45-5.68s2.31-3.25 4.06-4.51a19.83 19.83 0 016.22-2.93c2.4-.7 5.05-1.04 7.94-1.04 2.4 0 4.84.21 7.3.63 2.47.42 4.67 1.03 6.6 1.8v-4.23c0-4.15-1.18-7.45-3.53-9.88-2.34-2.44-5.6-3.65-9.74-3.65-2.4 0-4.87.48-7.4 1.44a35.72 35.72 0 00-7.66 4.15l-2.17-4.06c6.07-4.1 11.97-6.14 17.68-6.14 5.9 0 10.52 1.66 13.9 4.97 3.36 3.3 5.05 7.87 5.05 13.7v21.2c0 1.7.75 2.53 2.25 2.53v5.42c-1.02.17-1.8.27-2.34.27a5.26 5.26 0 01-3.66-1.18 4.4 4.4 0 01-1.4-3.24l-.18-3.7a21.3 21.3 0 01-8.16 6.5 25.13 25.13 0 01-10.6 2.25zm1.44-4.68c3.19 0 6.12-.6 8.8-1.8 2.68-1.2 4.7-2.8 6.09-4.79.54-.54.94-1.13 1.22-1.76.27-.63.4-1.22.4-1.76V84.6a37.52 37.52 0 00-6.36-1.8 35.79 35.79 0 00-6.72-.64c-4.33 0-7.85.9-10.55 2.7-2.7 1.81-4.06 4.18-4.06 7.13 0 1.44.28 2.8.86 4.06a10.27 10.27 0 002.34 3.3c1 .93 2.18 1.66 3.56 2.2a12 12 0 004.42.82zm48.36 4.69c-5.12 0-8.92-1.7-11.42-5.1-2.5-3.4-3.74-8.46-3.74-15.2v-27.6h6.13v26.52c0 10.64 3.64 15.96 10.92 15.96 1.8 0 3.58-.3 5.32-.9a16.67 16.67 0 004.83-2.61 21.06 21.06 0 003.97-4.06 20.44 20.44 0 002.84-5.32v-29.6h6.13v39.07c0 1.68.73 2.52 2.17 2.52v5.42c-.72.11-1.31.17-1.76.17h-.95a4.9 4.9 0 01-3.52-1.53 5.44 5.44 0 01-1.35-3.88v-5.41a21.87 21.87 0 01-8.34 8.52 22.23 22.23 0 01-11.23 3.03zm36.89-66.76h6.13v55.21c0 1.74.49 3.11 1.45 4.1s2.31 1.5 4.06 1.5c.66 0 1.44-.1 2.34-.28a15.35 15.35 0 002.53-.72l1.08 4.96a20.4 20.4 0 01-4.2 1.18c-1.65.3-3.08.45-4.28.45-2.83 0-5.05-.8-6.68-2.4-1.62-1.59-2.43-3.83-2.43-6.71V40.3zm36.71 66.76c-5.1 0-8.91-1.7-11.4-5.1-2.5-3.4-3.75-8.46-3.75-15.2v-27.6h6.13v26.52c0 10.64 3.64 15.96 10.92 15.96 1.8 0 3.57-.3 5.32-.9a16.67 16.67 0 004.83-2.61 21.06 21.06 0 003.97-4.06 20.44 20.44 0 002.84-5.32v-29.6h6.13v39.07c0 1.68.72 2.52 2.17 2.52v5.42c-.73.11-1.31.17-1.76.17h-.95a4.9 4.9 0 01-3.52-1.53 5.44 5.44 0 01-1.35-3.88v-5.41a21.87 21.87 0 01-8.35 8.52 22.21 22.21 0 01-11.23 3.03zm52.23 0c-3.66 0-7.24-.6-10.73-1.8a25.76 25.76 0 01-9.02-5.24l2.8-4.15a30.59 30.59 0 008.07 4.87 23.7 23.7 0 008.8 1.62c3.78 0 6.8-.76 9.06-2.3a7.44 7.44 0 003.38-6.54c0-1.32-.3-2.42-.9-3.29a7.87 7.87 0 00-2.66-2.3 20.94 20.94 0 00-4.42-1.76 121.51 121.51 0 00-6.18-1.58 90.38 90.38 0 01-7.03-1.98 21.48 21.48 0 01-4.92-2.25 8.13 8.13 0 01-2.89-3.12 10.14 10.14 0 01-.94-4.64c0-2.35.46-4.42 1.4-6.23a12.68 12.68 0 013.78-4.46 17.2 17.2 0 015.6-2.66c2.13-.6 4.4-.9 6.8-.9 3.61 0 6.9.58 9.84 1.75a19.44 19.44 0 017.13 4.65l-2.98 3.6a16.47 16.47 0 00-6.36-4.05 22.78 22.78 0 00-7.8-1.35c-1.63 0-3.13.16-4.51.49-1.39.33-2.6.86-3.66 1.58a7.78 7.78 0 00-2.48 2.75 8.13 8.13 0 00-.9 3.93c0 1.26.21 2.28.63 3.06a5.35 5.35 0 002.08 2.03c.96.58 2.18 1.08 3.65 1.54 1.47.45 3.26.91 5.37 1.4 3 .72 5.65 1.44 7.94 2.16a25 25 0 015.72 2.52 9.98 9.98 0 013.48 3.52 10.15 10.15 0 011.17 5.05c0 4.33-1.65 7.76-4.96 10.29s-7.76 3.79-13.36 3.79z">
          </path>
          <path
            class="fill-[#2b5cbf] dark:fill-[#01F9EF]"
            d="M36 77.5l21.88-21.88V38.4l-39.1 39.1 39.1 39.1V99.38z"></path>
          <path
            class="fill-[#f8c806] dark:fill-[#F8D306]"
            d="M132.52 77.5l-21.88 21.88v17.22l39.1-39.1-39.1-39.1v17.22z"
          ></path>
          <path class="fill-[#5755C9]" d="M66.84 10.75h12.18v106.23H66.84z"
          ></path>
          <path
            class="fill-[#ce4da1] dark:fill-[#CB54A1]"
            d="M89.5 38.02h12.17v106.23H89.5z"></path>
        </svg>
      </a>
    </div>

    <nav
      aria-label="Main menu"
      class="sm:mt-0 md:text-right text-center mt-4 w-full lg:w-1/2 z-10 flex items-center justify-center sm:justify-end">
      <MenuLink href="/posts" client:only>Posts</MenuLink>
      <MenuLink href="/courses" client:only>Courses</MenuLink>
      <MenuLink href="/about" client:only>About</MenuLink>

      <div
        class="ml-4 hidden sm:block"
        style={{
          width: "24px",
          height: "24px",
        }}>
        <ThemeToggle client:only="preact" />
      </div>
    </nav>
  </div>
</header>

<style>
  #logo {
    max-width: 350px;
  }

  #weird-background-thing {
    background-image: linear-gradient(
        524deg,
        rgba(228, 228, 228, 0.04) 0%,
        rgba(228, 228, 228, 0.04) 30%,
        rgba(130, 130, 130, 0.04) 30%,
        rgba(130, 130, 130, 0.04) 49%,
        rgba(31, 31, 31, 0.04) 49%,
        rgba(31, 31, 31, 0.04) 100%
      ),
      linear-gradient(
        538deg,
        rgba(228, 228, 228, 0.04) 0%,
        rgba(228, 228, 228, 0.04) 20%,
        rgba(130, 130, 130, 0.04) 20%,
        rgba(130, 130, 130, 0.04) 60%,
        rgba(31, 31, 31, 0.04) 60%,
        rgba(31, 31, 31, 0.04) 100%
      ),
      linear-gradient(
        483deg,
        rgba(228, 228, 228, 0.04) 0%,
        rgba(228, 228, 228, 0.04) 29%,
        rgba(130, 130, 130, 0.04) 29%,
        rgba(130, 130, 130, 0.04) 48%,
        rgba(31, 31, 31, 0.04) 48%,
        rgba(31, 31, 31, 0.04) 100%
      ),
      linear-gradient(331deg, rgb(17, 24, 39), rgb(17, 24, 39));
  }
</style>
