@import url("https://rsms.me/inter/inter.css");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/brands.css");

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-size: 62.5%;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  background: #f1f1f1;
}

a {
  color: #9d6742;
  transition: 0.15s color;
}

a:hover {
  color: #4d3221;
}

.main__menu a {
  text-decoration: none;
  margin-left: 12px;
  padding: 5px 8px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  color: #ddd;

  transition: all 0.12s;
}

.main__menu a:hover {
  background: #9d6742;
  color: #fff;
}

pre {
  background: #f1f1f1;
  border-radius: 4px;
  margin: 0 0.2rem;
  font-size: 90%;
  line-height: 2.3rem;
  padding: 20px;
}

code {
  background: #f1f1f1;
  border-radius: 4px;
  padding: 5px;
}

h3 {
  font-weight: 600;
  font-size: 3.6rem;
}

.social__icon {
  color: #111;
  margin-right: 20px;
  opacity: 0.6;
  font-size: 2.8rem;

  transition: 0.2s opacity;
}

.social__icon:hover {
  opacity: 1;
}

.post__item {
  margin-bottom: 30px;
}

.post__item:not(:first-child) {
  border-top: 1px solid #f1f1f1;
  padding-top: 30px;
}
