---
import type { Page } from "astro";

export type Props = {
  page: Page;
};

const { page } = Astro.props as Props;
---

<div class="flex">
  <a
    href={!page.url.prev ? "/posts" : page.url.prev}
    aria-label="Previous page"
    aria-disabled={!page.url.prev}
    class={`${!page.url.prev ? `opacity-50` : ``}`}
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"
      ><path fill="currentColor" d="M10 16L20 6l1.4 1.4l-8.6 8.6l8.6 8.6L20 26z"></path></svg
    >
  </a>

  {
    Array.from({ length: page.lastPage }).map((_, index) => {
      const pageIndex = index + 1;

      if (pageIndex == page.currentPage) {
        return (
          <strong class="font-bold" style={{ width: "24px", textAlign: "center" }}>
            {pageIndex}
          </strong>
        );
      }

      return (
        <a
          style={{ width: "24px", textAlign: "center" }}
          aria-label={`Go to page`}
          href={`/${pageIndex === 1 ? "/posts" : `/posts/${pageIndex}`}`}
        >
          {pageIndex}
        </a>
      );
    })
  }

  <a
    href={page.url.next}
    aria-label="Next page"
    aria-disabled={!page.url.next}
    class={`${!page.url.next ? `opacity-50` : ``}`}
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="transform rotate-180"
      ><path fill="currentColor" d="M10 16L20 6l1.4 1.4l-8.6 8.6l8.6 8.6L20 26z"></path></svg
    >
  </a>
</div>
