---
import type { MarkdownInstance } from "astro";
import type { Post } from "../types/Post";

export type Props = {
  data: MarkdownInstance<Post>
};

const { data } = Astro.props as Props;
const dateFormatter = new Intl.DateTimeFormat("en-us", { year: 'numeric', month: 'long', day: 'numeric', timeZone: "UTC" });
---

<div class="block mb-14 max-w-max md:max-w-screen-md lg:max-w-screen-lg">
  <div style={{ color: "var(--font-color)" , minHeight: 24 }} class="flex font-medium text-md opacity-75">
    <span class="flex content-center mr-2">{dateFormatter.format(new Date(data.frontmatter.date))}</span>•
    <span class="ml-2">{data.frontmatter.timeToRead}</span>
  </div>

  <a href={data.url} title={data.frontmatter.title} class="font-bold text-3xl">
    {data.frontmatter.title}
  </a>

  <aside style={{ color: "var(--font-color)" }} class="text-base leading-12 mt-2">
    {data.frontmatter.description ?? data.frontmatter.excerpt}
  </aside>
</div>