{% include header.html %}

    <section class="row dp__content">
        <div class="five columns">
            Hi, I'm Dylan. A fullstack developer working primarily in React and C#(.Net). 
        </div>

        <div class="seven columns">
            <h4>Currently</h4>
            Software Engineer @ Schweitzer Engineering Laboratories

            <br />
            <br />

            <h4>Previously</h4>
            Web Developer @ Sony Playstation
            <br />
            Student Web Developer @ Eastern Washington University
        </div>
    </section>

{% include footer.html %}