{% include header.html %}

    <section class="row dp__content">
        <div class="five columns">
            Fullstack developer working in React and C#. <br />
            I enjoy creating web applications that improve efficiency and dignity of work.
            <br />
            <br />
            Thoughts here are entirely my own.
        </div>

        <div class="seven columns">
            <h4>Currently</h4>
            Software Engineer @ Schweitzer Engineering Laboratories

            <br />
            <br />

            <h4>Previously</h4>
            Web Developer @ Sony Playstation
            <br />
            Student Web Developer @ Eastern Washington University
        </div>
    </section>

{% include footer.html %}