{% include header.html %}

    <section class="row dp__content">
        {% for post in site.posts %}	
            <div class="twelve columns dp__post">
                <div class="row">
                    <div class="two columns dp__post-date">
                        {{ post.date | date: "%B %e, %Y" }}
                    </div>

                    <div class="ten columns">
                        <h5 class="dp__post-header">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h5>

                        <span class="dp__post-tag">{% if post.category %}{{ post.category }}{% endif %}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

{% include footer.html %}