---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import "@styles/main.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<html lang="en-US" class="scroll-smooth antialiased">
  <head>
    <BaseHead title={title} description={description} />

    <script is:inline>
      /**
       * Show the correct theme on page load and page switching.
       * This code prevents the site from flickering light/dark.
       */
      const theme = (() => {
        const mode =
          typeof localStorage !== "undefined" && localStorage.getItem("theme");

        if (mode) {
          return mode;
        }

        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }

        if (window.matchMedia("(prefers-color-scheme: light)").matches) {
          return "light";
        }

        return "dark";
      })();

      document.documentElement.dataset.theme = theme;
      document.documentElement.classList.remove("light", "dark");
      document.documentElement.classList.add(theme);
      localStorage.setItem("theme", theme);
    </script>
  </head>

  <body>
    <a href="#main" class="skip-link">Skip to main content</a>

    <main id="main" class="p-4 sm:p-0 w-full text-base">
      <Header />
      <slot />
    </main>

    <Footer />

    <script
      data-goatcounter="https://dylanpaulus.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>

    <script is:inline>
      window.onload = function () {
        console.log(
          `%cHello There! 👋🏼 \n%c%s\n${JSON.stringify(["AstroJS", "TailwindCSS", "TypeScript", "Netlify"], null, 2)}\n\n%s`,
          "font-weight: bold; font-size: 50px;color: #FFF; text-shadow: 0px 0px 5px #111; margin-bottom: 22px;margin-top: 12px;",
          "font-size: 12px;",
          "Since you're probably here to see how this site works. This site was built using:",
          "If you want to dive deeper, feel free to poke around the source code on GitHub: https://github.com/ganderzz/dylanpaulus.com"
        );
      };
    </script>
  </body>
</html>
