---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import "../styles/main.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<html>

<head>
  <BaseHead title={title} description={description} />
</head>

<body>
  <Header />
  <main class="p-4 sm:p-0 w-full text-base -mt-20">
    <slot />
  </main>

  <script data-goatcounter="https://dylanpaulus.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>

<script is:inline>
  /**
   * Show the correct theme on page load and page switching.
   * This code prevents the site from flickering light/dark.
   */
  const theme = (() => {
    const mode = typeof localStorage !== "undefined" && localStorage.getItem("theme");

    if (mode) {
      return mode;
    }

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }

    return "light";
  })();

  document.documentElement.dataset.theme = theme;
  localStorage.setItem("theme", theme);
</script>