---
import type { CollectionEntry } from "astro:content";
import FrontmatterInfo from "../components/FrontmatterInfo.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  frontmatter: CollectionEntry<"post">["data"] & Record<string, any>;
}

const { frontmatter } = Astro.props as Props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description ?? frontmatter.excerpt ?? ""}>
  <div class="blog-post__header text-center mt-8">
    <FrontmatterInfo frontmatter={frontmatter} />
  </div>

  <section class="mt-4" id="main-content" tab-index="-1">
    <h1
      class={`${
        frontmatter.series ? "mb-0" : "mb-10"
      } mt-4 mx-auto px-4 font-bold text-center`}
      style={{ maxWidth: "40ch" }}>
      {frontmatter.title}
    </h1>

    {
      frontmatter.series && (
        <h6
          class="mb-10 mt-2 mx-auto italic text-center dark:text-slate-300 text-gray-600"
          style={{ maxWidth: "40ch" }}>
          Part of the <strong>{frontmatter.series}</strong> series.
        </h6>
      )
    }

    <article class="blog__post mb-10 dark:text-gray-100 leading-relaxed">
      <slot />
    </article>
  </section>
</BaseLayout>
