---
import type { CollectionEntry } from "astro:content";
import FrontmatterInfo from "../components/FrontmatterInfo.astro";
import { Newsletter } from "../components/Newsletter";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  frontmatter: CollectionEntry<"post">["data"] & Record<string, any>;
}

const { frontmatter } = Astro.props as Props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description ?? frontmatter.excerpt ?? ""}>
  <div class="blog-post__header text-center mt-8">
    <FrontmatterInfo frontmatter={frontmatter} />
  </div>

  <section class="mt-4" id="main-content" tab-index="-1">
    <h1
      class={`${
        frontmatter.series ? "mb-0" : "mb-10"
      } mt-4 mx-auto px-4 font-bold text-center`}
      style={{ maxWidth: "40ch" }}>
      {frontmatter.title}
    </h1>

    {
      frontmatter.series && (
        <h6
          class="mb-10 mt-0 mx-auto italic text-center"
          style={{ maxWidth: "40ch" }}>
          Part of the {frontmatter.series} series.
        </h6>
      )
    }

    <article class="blog__post mb-10 dark:text-gray-100 leading-relaxed">
      <slot />
    </article>

    <div class="flex items-center justify-center my-10">
      <Newsletter client:only />
    </div>

    <div class="blog__post my-4">
      <script
        src="https://giscus.app/client.js"
        data-repo="ganderzz/dylanpaulus.com"
        data-repo-id="MDEwOlJlcG9zaXRvcnk3NjUzNTg5OQ=="
        data-category="Announcements"
        data-category-id="DIC_kwDOBI_YW84B-i8I"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async
      ></script>
    </div>
  </section>
</BaseLayout>
