---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<BaseLayout title={title} description={description}>
  <section
    id="main-content"
    tab-index="-1"
    class="max-w-full lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto">
    <slot />
  </section>
</BaseLayout>
